.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:0.946500;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:1.000000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:1.000000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff4;src:url(f4.woff)format("woff");}.ff4{font-family:ff4;line-height:0.945000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff5;src:url(f5.woff)format("woff");}.ff5{font-family:ff5;line-height:1.000000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff6;src:url(f6.woff)format("woff");}.ff6{font-family:ff6;line-height:0.958000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff7;src:url(f7.woff)format("woff");}.ff7{font-family:ff7;line-height:0.958000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff8;src:url(f8.woff)format("woff");}.ff8{font-family:ff8;line-height:0.399000;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:0.000000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
._b{margin-left:-5.026897px;}
._7{margin-left:-2.754464px;}
._5{margin-left:-1.289849px;}
._9{width:1.354914px;}
._4{width:6.147168px;}
._8{width:7.691127px;}
._1{width:9.229414px;}
._f{width:10.350898px;}
._6{width:13.290289px;}
._2{width:15.942497px;}
._c{width:17.932723px;}
._0{width:19.135641px;}
._e{width:21.420668px;}
._a{width:57.307142px;}
._3{width:69.913794px;}
._d{width:215.773865px;}
.fc3{color:rgb(102,102,102);}
.fc2{color:rgb(150,61,90);}
.fc1{color:rgb(219,84,97);}
.fc0{color:rgb(46,46,46);}
.fs2{font-size:31.880400px;}
.fs6{font-size:35.865600px;}
.fs5{font-size:39.850400px;}
.fs1{font-size:47.820800px;}
.fs4{font-size:57.384800px;}
.fs3{font-size:68.861600px;}
.fs0{font-size:99.148400px;}
.y2f{bottom:10.899000px;}
.y2e{bottom:25.843000px;}
.y5b{bottom:43.364000px;}
.y2d{bottom:45.768000px;}
.y5a{bottom:55.320000px;}
.y2c{bottom:60.712000px;}
.y59{bottom:70.263000px;}
.y2b{bottom:80.637000px;}
.y58{bottom:82.219000px;}
.y2a{bottom:95.581000px;}
.y57{bottom:97.163000px;}
.y56{bottom:109.118000px;}
.y29{bottom:115.507000px;}
.y0{bottom:122.500000px;}
.y55{bottom:129.391000px;}
.y28{bottom:130.451000px;}
.y27{bottom:150.376000px;}
.y54{bottom:159.788000px;}
.y26{bottom:165.320000px;}
.y53{bottom:171.743000px;}
.y52{bottom:183.698000px;}
.y25{bottom:192.159000px;}
.y51{bottom:195.653000px;}
.y50{bottom:210.597000px;}
.y4f{bottom:222.552000px;}
.y24{bottom:228.904000px;}
.y4e{bottom:234.507000px;}
.y4d{bottom:246.463000px;}
.y23{bottom:246.683000px;}
.y4c{bottom:263.003000px;}
.y22{bottom:264.461000px;}
.y4b{bottom:277.251000px;}
.y4a{bottom:294.187000px;}
.y21{bottom:294.349000px;}
.y49{bottom:306.142000px;}
.y20{bottom:312.127000px;}
.y48{bottom:318.098000px;}
.y47{bottom:330.053000px;}
.y1f{bottom:336.974000px;}
.y46{bottom:344.997000px;}
.y45{bottom:356.952000px;}
.y1e{bottom:369.077000px;}
.y44{bottom:371.896000px;}
.y1d{bottom:381.032000px;}
.y43{bottom:383.851000px;}
.y1c{bottom:392.987000px;}
.y42{bottom:395.806000px;}
.y1b{bottom:404.942000px;}
.y41{bottom:407.761000px;}
.y1a{bottom:416.897000px;}
.y40{bottom:424.302000px;}
.y19{bottom:428.852000px;}
.y3f{bottom:438.550000px;}
.y18{bottom:440.808000px;}
.y16{bottom:445.590000px;}
.y17{bottom:452.763000px;}
.y3e{bottom:463.997000px;}
.y15{bottom:476.275000px;}
.y14{bottom:488.230000px;}
.y3d{bottom:491.491000px;}
.y13{bottom:500.185000px;}
.y3c{bottom:506.435000px;}
.y12{bottom:512.140000px;}
.y3b{bottom:518.390000px;}
.y11{bottom:524.095000px;}
.y3a{bottom:533.334000px;}
.y10{bottom:536.050000px;}
.y39{bottom:545.290000px;}
.yf{bottom:548.006000px;}
.y38{bottom:557.245000px;}
.ye{bottom:559.961000px;}
.yd{bottom:571.916000px;}
.y37{bottom:572.189000px;}
.yc{bottom:583.871000px;}
.y36{bottom:587.133000px;}
.yb{bottom:595.826000px;}
.y9{bottom:600.608000px;}
.y35{bottom:602.077000px;}
.ya{bottom:607.781000px;}
.y34{bottom:614.032000px;}
.y33{bottom:628.976000px;}
.y8{bottom:630.038000px;}
.y32{bottom:645.516000px;}
.y7{bottom:657.675000px;}
.y31{bottom:658.768000px;}
.y6{bottom:671.623000px;}
.y30{bottom:673.015000px;}
.y5{bottom:698.462000px;}
.y4{bottom:735.998000px;}
.y3{bottom:745.462000px;}
.y2{bottom:760.904000px;}
.y1{bottom:780.830000px;}
.h4{height:27.321503px;}
.h8{height:30.525406px;}
.hb{height:30.736819px;}
.h9{height:30.903985px;}
.h6{height:36.487270px;}
.h3{height:36.630733px;}
.ha{height:37.085030px;}
.h7{height:49.178774px;}
.h5{height:52.747986px;}
.h2{height:75.947674px;}
.h1{height:684.500000px;}
.h0{height:841.890000px;}
.w1{width:538.500000px;}
.w0{width:595.276000px;}
.x0{left:28.500000px;}
.x4{left:37.935000px;}
.x1{left:374.173000px;}
.x3{left:379.413000px;}
.x2{left:399.139000px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls0{letter-spacing:0.000000pt;}
.ws0{word-spacing:0.000000pt;}
._b{margin-left:-6.702529pt;}
._7{margin-left:-3.672619pt;}
._5{margin-left:-1.719798pt;}
._9{width:1.806551pt;}
._4{width:8.196224pt;}
._8{width:10.254836pt;}
._1{width:12.305886pt;}
._f{width:13.801197pt;}
._6{width:17.720385pt;}
._2{width:21.256663pt;}
._c{width:23.910298pt;}
._0{width:25.514188pt;}
._e{width:28.560891pt;}
._a{width:76.409523pt;}
._3{width:93.218391pt;}
._d{width:287.698486pt;}
.fs2{font-size:42.507200pt;}
.fs6{font-size:47.820800pt;}
.fs5{font-size:53.133867pt;}
.fs1{font-size:63.761067pt;}
.fs4{font-size:76.513067pt;}
.fs3{font-size:91.815467pt;}
.fs0{font-size:132.197867pt;}
.y2f{bottom:14.532000pt;}
.y2e{bottom:34.457333pt;}
.y5b{bottom:57.818667pt;}
.y2d{bottom:61.024000pt;}
.y5a{bottom:73.760000pt;}
.y2c{bottom:80.949333pt;}
.y59{bottom:93.684000pt;}
.y2b{bottom:107.516000pt;}
.y58{bottom:109.625333pt;}
.y2a{bottom:127.441333pt;}
.y57{bottom:129.550667pt;}
.y56{bottom:145.490667pt;}
.y29{bottom:154.009333pt;}
.y0{bottom:163.333333pt;}
.y55{bottom:172.521333pt;}
.y28{bottom:173.934667pt;}
.y27{bottom:200.501333pt;}
.y54{bottom:213.050667pt;}
.y26{bottom:220.426667pt;}
.y53{bottom:228.990667pt;}
.y52{bottom:244.930667pt;}
.y25{bottom:256.212000pt;}
.y51{bottom:260.870667pt;}
.y50{bottom:280.796000pt;}
.y4f{bottom:296.736000pt;}
.y24{bottom:305.205333pt;}
.y4e{bottom:312.676000pt;}
.y4d{bottom:328.617333pt;}
.y23{bottom:328.910667pt;}
.y4c{bottom:350.670667pt;}
.y22{bottom:352.614667pt;}
.y4b{bottom:369.668000pt;}
.y4a{bottom:392.249333pt;}
.y21{bottom:392.465333pt;}
.y49{bottom:408.189333pt;}
.y20{bottom:416.169333pt;}
.y48{bottom:424.130667pt;}
.y47{bottom:440.070667pt;}
.y1f{bottom:449.298667pt;}
.y46{bottom:459.996000pt;}
.y45{bottom:475.936000pt;}
.y1e{bottom:492.102667pt;}
.y44{bottom:495.861333pt;}
.y1d{bottom:508.042667pt;}
.y43{bottom:511.801333pt;}
.y1c{bottom:523.982667pt;}
.y42{bottom:527.741333pt;}
.y1b{bottom:539.922667pt;}
.y41{bottom:543.681333pt;}
.y1a{bottom:555.862667pt;}
.y40{bottom:565.736000pt;}
.y19{bottom:571.802667pt;}
.y3f{bottom:584.733333pt;}
.y18{bottom:587.744000pt;}
.y16{bottom:594.120000pt;}
.y17{bottom:603.684000pt;}
.y3e{bottom:618.662667pt;}
.y15{bottom:635.033333pt;}
.y14{bottom:650.973333pt;}
.y3d{bottom:655.321333pt;}
.y13{bottom:666.913333pt;}
.y3c{bottom:675.246667pt;}
.y12{bottom:682.853333pt;}
.y3b{bottom:691.186667pt;}
.y11{bottom:698.793333pt;}
.y3a{bottom:711.112000pt;}
.y10{bottom:714.733333pt;}
.y39{bottom:727.053333pt;}
.yf{bottom:730.674667pt;}
.y38{bottom:742.993333pt;}
.ye{bottom:746.614667pt;}
.yd{bottom:762.554667pt;}
.y37{bottom:762.918667pt;}
.yc{bottom:778.494667pt;}
.y36{bottom:782.844000pt;}
.yb{bottom:794.434667pt;}
.y9{bottom:800.810667pt;}
.y35{bottom:802.769333pt;}
.ya{bottom:810.374667pt;}
.y34{bottom:818.709333pt;}
.y33{bottom:838.634667pt;}
.y8{bottom:840.050667pt;}
.y32{bottom:860.688000pt;}
.y7{bottom:876.900000pt;}
.y31{bottom:878.357333pt;}
.y6{bottom:895.497333pt;}
.y30{bottom:897.353333pt;}
.y5{bottom:931.282667pt;}
.y4{bottom:981.330667pt;}
.y3{bottom:993.949333pt;}
.y2{bottom:1014.538667pt;}
.y1{bottom:1041.106667pt;}
.h4{height:36.428670pt;}
.h8{height:40.700542pt;}
.hb{height:40.982426pt;}
.h9{height:41.205314pt;}
.h6{height:48.649694pt;}
.h3{height:48.840977pt;}
.ha{height:49.446707pt;}
.h7{height:65.571698pt;}
.h5{height:70.330647pt;}
.h2{height:101.263566pt;}
.h1{height:912.666667pt;}
.h0{height:1122.520000pt;}
.w1{width:718.000000pt;}
.w0{width:793.701333pt;}
.x0{left:38.000000pt;}
.x4{left:50.580000pt;}
.x1{left:498.897333pt;}
.x3{left:505.884000pt;}
.x2{left:532.185333pt;}
}
