---
layout: default
---

<div class="home">

  <h1 class="page-heading">Projects</h1>
  
  {{ content }}

  <div class="post-list">
    {% for post in site.posts reversed %}
      <div class="post">
        {% if post.image1 %}
          <a class="post-list-img" href="{{ post.url | relative_url }}"><img class="post-img" src="{{ post.image1 | prepend: site.baseurl }}"></a>
          <a class="post-list-title" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
        {% else %}
          <a class="post-list-img" href="{{ post.url | relative_url }}"><img class="post-img" src="{{ "/assets/img/default.png" | prepend: site.baseurl }}"></a>
          <a class="post-list-title" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
        {% endif %}
      </div>
    {% endfor %}
  </div>

</div>
